In [1]:
import numpy as np
import pandas as pd

In [10]:
np.random.seed(123)
data=np.random.randint(10,100,(30,3))
data

array([[76, 27, 93],
       [67, 96, 57],
       [83, 42, 56],
       [35, 93, 88],
       [46, 90, 78],
       [59, 65, 77],
       [12, 94, 49],
       [76, 94, 57],
       [71, 58, 17],
       [62, 95, 37],
       [44, 86, 50],
       [13, 79, 74],
       [85, 44, 68],
       [20, 32, 87],
       [28, 25, 37],
       [40, 62, 80],
       [36, 90, 16],
       [24, 85, 64],
       [81, 11, 53],
       [68, 65, 35],
       [60, 94, 66],
       [59, 22, 28],
       [91, 11, 61],
       [54, 58, 66],
       [59, 96, 13],
       [77, 21, 31],
       [99, 13, 21],
       [13, 16, 19],
       [97, 24, 93],
       [80, 22, 64]])

In [23]:
columns_names=["Temp_sensor","Hum_sensor","Power_sensor"]

In [24]:
Dates=pd.date_range("07-01-2021",periods=30)
Dates

DatetimeIndex(['2021-07-01', '2021-07-02', '2021-07-03', '2021-07-04',
               '2021-07-05', '2021-07-06', '2021-07-07', '2021-07-08',
               '2021-07-09', '2021-07-10', '2021-07-11', '2021-07-12',
               '2021-07-13', '2021-07-14', '2021-07-15', '2021-07-16',
               '2021-07-17', '2021-07-18', '2021-07-19', '2021-07-20',
               '2021-07-21', '2021-07-22', '2021-07-23', '2021-07-24',
               '2021-07-25', '2021-07-26', '2021-07-27', '2021-07-28',
               '2021-07-29', '2021-07-30'],
              dtype='datetime64[ns]', freq='D')

In [25]:
table=pd.DataFrame(data,index=Dates,columns=columns_names)
table

            Temp_sensor  Hum_sensor  Power_sensor
2021-07-01           76          27            93
2021-07-02           67          96            57
2021-07-03           83          42            56
2021-07-04           35          93            88
2021-07-05           46          90            78
2021-07-06           59          65            77
2021-07-07           12          94            49
2021-07-08           76          94            57
2021-07-09           71          58            17
2021-07-10           62          95            37
2021-07-11           44          86            50
2021-07-12           13          79            74
2021-07-13           85          44            68
2021-07-14           20          32            87
2021-07-15           28          25            37
2021-07-16           40          62            80
2021-07-17           36          90            16
2021-07-18           24          85            64
2021-07-19           81          11            53
2021-07-20           68          65            35
2021-07-21           60          94            66
2021-07-22           59          22            28
2021-07-23           91          11            61
2021-07-24           54          58            66
2021-07-25           59          96            13
2021-07-26           77          21            31
2021-07-27           99          13            21
2021-07-28           13          16            19
2021-07-29           97          24            93
2021-07-30           80          22            64

In [22]:
type(table)

pandas.core.frame.DataFrame

### head()

In [26]:
table.head()

            Temp_sensor  Hum_sensor  Power_sensor
2021-07-01           76          27            93
2021-07-02           67          96            57
2021-07-03           83          42            56
2021-07-04           35          93            88
2021-07-05           46          90            78

In [27]:
table.head(10)

            Temp_sensor  Hum_sensor  Power_sensor
2021-07-01           76          27            93
2021-07-02           67          96            57
2021-07-03           83          42            56
2021-07-04           35          93            88
2021-07-05           46          90            78
2021-07-06           59          65            77
2021-07-07           12          94            49
2021-07-08           76          94            57
2021-07-09           71          58            17
2021-07-10           62          95            37

### tail()

In [28]:
table.tail()

            Temp_sensor  Hum_sensor  Power_sensor
2021-07-26           77          21            31
2021-07-27           99          13            21
2021-07-28           13          16            19
2021-07-29           97          24            93
2021-07-30           80          22            64

In [29]:
table.tail(7)

            Temp_sensor  Hum_sensor  Power_sensor
2021-07-24           54          58            66
2021-07-25           59          96            13
2021-07-26           77          21            31
2021-07-27           99          13            21
2021-07-28           13          16            19
2021-07-29           97          24            93
2021-07-30           80          22            64

### Data exploration : Slicing

### Extract one column

In [34]:
table["Temp_sensor"]

2021-07-01    76
2021-07-02    67
2021-07-03    83
2021-07-04    35
2021-07-05    46
2021-07-06    59
2021-07-07    12
2021-07-08    76
2021-07-09    71
2021-07-10    62
2021-07-11    44
2021-07-12    13
2021-07-13    85
2021-07-14    20
2021-07-15    28
2021-07-16    40
2021-07-17    36
2021-07-18    24
2021-07-19    81
2021-07-20    68
2021-07-21    60
2021-07-22    59
2021-07-23    91
2021-07-24    54
2021-07-25    59
2021-07-26    77
2021-07-27    99
2021-07-28    13
2021-07-29    97
2021-07-30    80
Freq: D, Name: Temp_sensor, dtype: int32

In [33]:
type(table["Temp_sensor"])

pandas.core.series.Series

In [39]:
table[["Temp_sensor"]].head()

            Temp_sensor
2021-07-01           76
2021-07-02           67
2021-07-03           83
2021-07-04           35
2021-07-05           46

In [35]:
table["Hum_sensor"].head()

2021-07-01    27
2021-07-02    96
2021-07-03    42
2021-07-04    93
2021-07-05    90
Freq: D, Name: Hum_sensor, dtype: int32

### Extract two columns

In [38]:
table.head()

            Temp_sensor  Hum_sensor  Power_sensor
2021-07-01           76          27            93
2021-07-02           67          96            57
2021-07-03           83          42            56
2021-07-04           35          93            88
2021-07-05           46          90            78

In [41]:
table[["Temp_sensor","Hum_sensor"]].head()

            Temp_sensor  Hum_sensor
2021-07-01           76          27
2021-07-02           67          96
2021-07-03           83          42
2021-07-04           35          93
2021-07-05           46          90

### Extract rows

In [42]:
table["2021-07-11":"2021-07-20"]

            Temp_sensor  Hum_sensor  Power_sensor
2021-07-11           44          86            50
2021-07-12           13          79            74
2021-07-13           85          44            68
2021-07-14           20          32            87
2021-07-15           28          25            37
2021-07-16           40          62            80
2021-07-17           36          90            16
2021-07-18           24          85            64
2021-07-19           81          11            53
2021-07-20           68          65            35

### Extracting based on columns and rows

In [46]:
table["2021-07-11":"2021-07-15"]["Power_sensor"]

2021-07-11    50
2021-07-12    74
2021-07-13    68
2021-07-14    87
2021-07-15    37
Freq: D, Name: Power_sensor, dtype: int32

In [47]:
table["2021-07-11":"2021-07-15"][["Temp_sensor","Hum_sensor"]]

            Temp_sensor  Hum_sensor
2021-07-11           44          86
2021-07-12           13          79
2021-07-13           85          44
2021-07-14           20          32
2021-07-15           28          25

### Ex.Get hum_sensor values from 20 to 26th of July

In [48]:
table["2021-07-20":"2021-07-26"][["Hum_sensor"]]

            Hum_sensor
2021-07-20          65
2021-07-21          94
2021-07-22          22
2021-07-23          11
2021-07-24          58
2021-07-25          96
2021-07-26          21

### Extract based on a condition

### 1st way

In [55]:
table[table["Temp_sensor"]>50]

            Temp_sensor  Hum_sensor  Power_sensor
2021-07-01           76          27            93
2021-07-02           67          96            57
2021-07-03           83          42            56
2021-07-06           59          65            77
2021-07-08           76          94            57
2021-07-09           71          58            17
2021-07-10           62          95            37
2021-07-13           85          44            68
2021-07-19           81          11            53
2021-07-20           68          65            35
2021-07-21           60          94            66
2021-07-22           59          22            28
2021-07-23           91          11            61
2021-07-24           54          58            66
2021-07-25           59          96            13
2021-07-26           77          21            31
2021-07-27           99          13            21
2021-07-29           97          24            93
2021-07-30           80          22            64

In [56]:
table[table["Temp_sensor"]>50]["Temp_sensor"]

2021-07-01    76
2021-07-02    67
2021-07-03    83
2021-07-06    59
2021-07-08    76
2021-07-09    71
2021-07-10    62
2021-07-13    85
2021-07-19    81
2021-07-20    68
2021-07-21    60
2021-07-22    59
2021-07-23    91
2021-07-24    54
2021-07-25    59
2021-07-26    77
2021-07-27    99
2021-07-29    97
2021-07-30    80
Name: Temp_sensor, dtype: int32

In [60]:
table[table["Temp_sensor"]>30][table["Hum_sensor"]>30]["Power_sensor"]["2021-07-20":"2021-07-25"]

C:\Users\etisalat\anacondanew\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

2021-07-20    35
2021-07-21    66
2021-07-24    66
2021-07-25    13
Name: Power_sensor, dtype: int32

### 2nd way --> logical operator

In [61]:
table[(table["Temp_sensor"]>30) | (table["Hum_sensor"]>30)]

            Temp_sensor  Hum_sensor  Power_sensor
2021-07-01           76          27            93
2021-07-02           67          96            57
2021-07-03           83          42            56
2021-07-04           35          93            88
2021-07-05           46          90            78
2021-07-06           59          65            77
2021-07-07           12          94            49
2021-07-08           76          94            57
2021-07-09           71          58            17
2021-07-10           62          95            37
2021-07-11           44          86            50
2021-07-12           13          79            74
2021-07-13           85          44            68
2021-07-14           20          32            87
2021-07-16           40          62            80
2021-07-17           36          90            16
2021-07-18           24          85            64
2021-07-19           81          11            53
2021-07-20           68          65            35
2021-07-21           60          94            66
2021-07-22           59          22            28
2021-07-23           91          11            61
2021-07-24           54          58            66
2021-07-25           59          96            13
2021-07-26           77          21            31
2021-07-27           99          13            21
2021-07-29           97          24            93
2021-07-30           80          22            64

In [64]:
table[(table["Temp_sensor"]>30) & (table["Hum_sensor"]>30)]

            Temp_sensor  Hum_sensor  Power_sensor
2021-07-02           67          96            57
2021-07-03           83          42            56
2021-07-04           35          93            88
2021-07-05           46          90            78
2021-07-06           59          65            77
2021-07-08           76          94            57
2021-07-09           71          58            17
2021-07-10           62          95            37
2021-07-11           44          86            50
2021-07-13           85          44            68
2021-07-16           40          62            80
2021-07-17           36          90            16
2021-07-20           68          65            35
2021-07-21           60          94            66
2021-07-24           54          58            66
2021-07-25           59          96            13

### 2nd way for slicing

In [66]:
table.head()

            Temp_sensor  Hum_sensor  Power_sensor
2021-07-01           76          27            93
2021-07-02           67          96            57
2021-07-03           83          42            56
2021-07-04           35          93            88
2021-07-05           46          90            78

In [73]:
table.iloc[0:10,:]

            Temp_sensor  Hum_sensor  Power_sensor
2021-07-01           76          27            93
2021-07-02           67          96            57
2021-07-03           83          42            56
2021-07-04           35          93            88
2021-07-05           46          90            78
2021-07-06           59          65            77
2021-07-07           12          94            49
2021-07-08           76          94            57
2021-07-09           71          58            17
2021-07-10           62          95            37

In [77]:
table.iloc[:10,:][table["Temp_sensor"]>30]

C:\Users\etisalat\anacondanew\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

            Temp_sensor  Hum_sensor  Power_sensor
2021-07-01           76          27            93
2021-07-02           67          96            57
2021-07-03           83          42            56
2021-07-04           35          93            88
2021-07-05           46          90            78
2021-07-06           59          65            77
2021-07-08           76          94            57
2021-07-09           71          58            17
2021-07-10           62          95            37

In [78]:
table.iloc[:10,:][(table["Temp_sensor"]>30) & (table["Hum_sensor"]>30)]

C:\Users\etisalat\anacondanew\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

            Temp_sensor  Hum_sensor  Power_sensor
2021-07-02           67          96            57
2021-07-03           83          42            56
2021-07-04           35          93            88
2021-07-05           46          90            78
2021-07-06           59          65            77
2021-07-08           76          94            57
2021-07-09           71          58            17
2021-07-10           62          95            37

### get statistical info for our data

In [83]:
table.describe()

       Temp_sensor  Hum_sensor  Power_sensor
count    30.000000   30.000000      30.00000
mean     57.166667   57.000000      54.50000
std      25.849809   32.140854      24.36044
min      12.000000   11.000000      13.00000
25%      37.000000   24.250000      35.50000
50%      59.500000   60.000000      57.00000
75%      76.750000   90.000000      72.50000
max      99.000000   96.000000      93.00000

In [84]:
table.max()

Temp_sensor     99
Hum_sensor      96
Power_sensor    93
dtype: int32

In [85]:
table.min()

Temp_sensor     12
Hum_sensor      11
Power_sensor    13
dtype: int32

In [87]:
table["Temp_sensor"].max()

99

In [88]:
table.mean()

Temp_sensor     57.166667
Hum_sensor      57.000000
Power_sensor    54.500000
dtype: float64

In [89]:
table.count()

Temp_sensor     30
Hum_sensor      30
Power_sensor    30
dtype: int64

In [92]:
table.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 30 entries, 2021-07-01 to 2021-07-30
Freq: D
Data columns (total 3 columns):
Temp_sensor     30 non-null int32
Hum_sensor      30 non-null int32
Power_sensor    30 non-null int32
dtypes: int32(3)
memory usage: 1.8 KB

### exporting DataFrame

In [94]:
table.to_excel("result.xlsx",sheet_name='sensor values')